.container {
  div {
    background-color: #eeeeee;
  }

  width: 1100px;
  margin: 30px auto;

  display: grid;
  grid-template-rows: 40px repeat(3, 200px) 40px;
  grid-template-columns: repeat(3, 280px) 1fr;
  grid-gap: 20px;

  grid-auto-rows: 80px;

  .header {
    grid-column: 1 / -1;
  }

  .main-content {
    grid-area: 3 / 1 / 5 / 4;
  }

  .sidebar {
    grid-area: 2 / 4 / 5 / 5;
  }

  .footer {
    grid-column: 1 / -1;
  }
}


